<h4>Documentos</h4>
<mat-accordion [displayMode]="'flat'">


    @for (te of tiposEstudio; track te) {
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title><mat-icon style="margin-right: 10px;">folder</mat-icon> {{te.nombre}}</mat-panel-title>
                <mat-panel-description><mat-icon style="margin-right: 10px;">file_copy</mat-icon> 120 Files</mat-panel-description>
            </mat-expansion-panel-header>
        
            <div class="w-100">
                <div class="w-100 d-flex justify-content-between">
                    <div class="d-flex">
                        <mat-form-field>
                            <mat-label>Paciente</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <button mat-icon-button color="primary"><mat-icon>search</mat-icon></button>
                    </div>
                    <button mat-raised-button color="primary"><mat-icon>add</mat-icon> Nuevo Documento</button>
                </div>
                <div>
                    <div class="grid-container">
                        @for (p of pacientes; track p) {
                            <div class="grid-item row m-0">
                                <p class="m-0"><mat-icon style="vertical-align: sub;">account_circle</mat-icon> {{p.nombre}} {{p.apellido}} ({{p.dni}})</p>
                                <p class="m-0">Nestle</p>
                                <p class="m-0"><a href="ningunlado.org">Descargar PDF</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
      
        </mat-expansion-panel>
    }

</mat-accordion>
  