<p>link / link / link</p>
<mat-list role="list">
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Oftalmologia</div>
        <div matListItemLine>25 files</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Cardiologia</div>
        <div matListItemLine>25 files</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Psicologia</div>
        <div matListItemLine>25 files</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>Traumatologia</div>
        <div matListItemLine>25 files</div>
    </mat-list-item>
</mat-list>


<mat-selection-list #shoes>
    <mat-list-option>
        <mat-icon matListItemIcon>picture_as_pdf</mat-icon>
        <div matListItemTitle>Oftalmologia</div>
        <div matListItemLine>25/02/2025 19:26</div>
    </mat-list-option>
    <mat-list-option>
        <mat-icon matListItemIcon>picture_as_pdf</mat-icon>
        <div matListItemTitle>Cardiologia</div>
        <div matListItemLine>25/02/2025 19:26</div>
    </mat-list-option>
    <mat-list-option>
        <mat-icon matListItemIcon>picture_as_pdf</mat-icon>
        <div matListItemTitle>Psicologia</div>
        <div matListItemLine>25/02/2025 19:26</div>
    </mat-list-option>
    <mat-list-option>
        <mat-icon matListItemIcon>picture_as_pdf</mat-icon>
        <div matListItemTitle>Traumatologia</div>
        <div matListItemLine>25/02/2025 19:26</div>
    </mat-list-option>
</mat-selection-list>