<!--
<mat-grid-tile [colspan]="formFieldConfig.col" [rowspan]="formFieldConfig.row">
    <mat-form-field>
        <mat-label>{{formFieldConfig.formFieldLabel}}</mat-label>
        <input matInput [formControl]="formControl" type="formFieldConfig.formFieldType" 
        placeholder="formFieldConfig.placeholder">
        @if (formControl && formControl!.invalid) {
            <mat-error>{{formFieldConfig.errorMessage}}</mat-error>
        }
    </mat-form-field>
</mat-grid-tile>
-->
<mat-form-field>
    <mat-label>{{formFieldConfig.formFieldLabel}}</mat-label>
    <input matInput [formControl]="formControl" type="{{formFieldConfig.formFieldType}}" 
    placeholder="{{formFieldConfig.placeholder}}">
    @if (formControl && formControl!.invalid) {
        <mat-error>{{formFieldConfig.errorMessage}}</mat-error>
    }
</mat-form-field>