<mat-form-field>
    <mat-label>{{formFieldConfig.formFieldLabel}}</mat-label>
    <input #input
        type="text"
        placeholder="{{ formFieldConfig.placeholder }}"
        matInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()">
    <mat-autocomplete
        requireSelection
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event)">
        @for (option of filteredOptions; track option) {
            <mat-option [value]="option">
                {{ option.label }}
            </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>
  
<!-- Mostramos el ID seleccionado para confirmar -->
<!--<p>ID seleccionado: {{ formControl.value }}</p>-->